<div class="controls">
	<div id="player"></div>
	<div id="control-buttons">
		<div id="left-buttons">
			<button class="btn btn-min" id="viewerToggle">
				<span class="material-icons" style="padding-left: 10px;">
					expand_more
				</span>
			</button>
		</div>
		<div id="center-buttons">
			<button class="btn btn-min" onclick="previousSong()">
				<span class="material-icons">
					skip_previous
				</span>
			</button>
			<button class="btn btn-min" onclick="toggleSong()">
				<span class="material-icons" id='toggleIcon'>
					play_circle
				</span>
			</button>
			<button class="btn btn-min" onclick="nextSong()">
				<span class="material-icons">
					skip_next
				</span>
			</button>
		</div>
		<div id="right-buttons">
			<button class="btn btn-min" id="shuffleToggle">
				<span class="material-icons">shuffle</span>
			</button>
		</div>
	</div>
</div>

<script src="/scripts/songs.js"></script>
