<div>
	<div id="player"></div>
	<button>
		<span class="material-icons">
		play_circle_filled
		</span>
	</button>
</div>

<% const songIds = []; songs.forEach(song => { songIds.push(song.ytLink) }) %>
<script>
	var songs = <%- JSON.stringify(songIds) %>;
</script>

<script src="/scripts/songs.js"></script>