<header>
	<nav>
		<a href="/">Suavistan</a>
		<ul>
			<li><a href="/musics">Musics</a></li>
			<li><a href="/musics/new">Add Song</a></li>
			<li><a href="/musics/playlists">Playlists</a></li>
			<li><a href="/musics/playlists/new">Add Playlist</a></li>
		</ul>
	</nav>
</header>