<% if (locals.hide_nave == null) { %>
<header>
	<nav class="navbar navbar-expand-sm navbar-dark">
		<a class="navbar-brand title" href="/">Suavistan</a>

		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
					Musics
				</a>
				<div class="dropdown-menu dropdown-transparent">
					<a class="dropdown-item" href="/musics/">Songs</a>
					<a class="dropdown-item" href="/musics/new">Add Song</a>
					<a class="dropdown-item" href= "/musics/playlists/">Playlists</a>
					<a class="dropdown-item" href= "/musics/playlists/new/">Add Playlist</a>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/account">Account</a>
			</li>
		</ul>
	</nav>
</header>
<% } %>