<table class="container-fluid">
	<thead>
		<th>#</th>
		<th>Name</th>
		<th>Artist</th>
		<th></th>
		<th></th>
		<th></th>
	</thead>
	<tbody id="songTableBody">
		<% for (let i = 0; i < songs.length; i++) { %>
			<%- include('./song.ejs', {song: songs[i], playlists: playlists, index: i, parentPlaylist: parentPlaylist, user: user}) %>
		<% } %>
	</tbody>
</table>


<% var songIds = []; const hues = []; songs.forEach(song => { songIds.push('' + song.ytLink); hues.push(song.colorHue); })%>
<script>
	console.log('had')
	loadSongs(<%- JSON.stringify(songIds) %>, <%- JSON.stringify(hues) %>);
</script>