
<h2>Edit Song</h2>

<form class="form" action="/musics/<%= song.id %>?_method=PUT" method="POST">
	<%- include('_form_fields.ejs') %> 
	<a href="/musics">Cancel</a>
	<button class="btn btn-transparent" type="submit">Save</button>
</form>