<%- include('../partials/header.ejs') %>
<h2>Edit Song</h2>

<form action="/musics/<%= song.id %>" method="POST">
	<%- include('_form_fields.ejs') %> 
	<a href="/musics">Cancel</a>
	<button type="submit">Create</button>
</form>