
<h2>Search Songs</h2>
<form action="/musics" method="GET">
	<label>Name</label>
	<input type="text" name="name" value= <%= searchOptions.name %>>
	<button type="submit">Search</button>
</form>
<br>
<table class="table">
	<thead>
		<th>Name</th>
		<th>Artist</th>
		<th> </th>
	</thead>
	<tbody>
		<% for (let i = 0; i < songs.length; i++) { %>
			<%- include('../partials/song.ejs', {song: songs[i], playlists: playlists, index: i}) %>
		<% } %>
	</tbody>
</table>
<%- include('../partials/controlsOverlay.ejs', {songs: songs}) %>
