
<h2>Search Songs</h2>
<form action="/musics" method="GET">
	<div class="input-group mb-3">
		<input class="form-control search-transparent" placeholder="Name" class="input" type="text" name="name" value= <%= searchOptions.name %>>
		<div class="input-group-append">
			<button class="btn btn-outline-secondary btn-transparent" type="submit">Search</button>
		</div>
	</div>
</form>
<br>
<table class="container-fluid">
	<thead>
		<th>Name</th>
		<th>Artist</th>
		<th> </th>
	</thead>
	<tbody>
		<% for (let i = 0; i < songs.length; i++) { %>
			<%- include('../partials/song.ejs', {song: songs[i], playlists: playlists, index: i}) %>
		<% } %>
	</tbody>
</table>
<%- include('../partials/controlsOverlay.ejs', {songs: songs}) %>
