
<h2>New Song</h2>

<form class="form" action="/musics" method="POST">
	<%- include('_form_fields.ejs') %> 
	<a href="/musics">Cancel</a>
	<button class="btn btn-transparent" type="submit">Create</button>
</form>