<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


		<!-- icons from google-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--fonts from google-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">


		<link href="/stylesheets/main.css" rel="stylesheet">

		<title>Suavistan</title>

	</head>
	<body>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

		<script src="/scripts/main.js"></script>

		<script>
			updateColor(<%= userColorHue %>);
		</script>

		<svg height="100%" width="100%" id="backgroundSVG">
			<defs>
				<linearGradient id="grad1" x1="0%" y1="100%" x2="0%" y2="0%">
				  <stop offset="0%" style="stop-color:var(--color-background-dark);" />
				  <stop offset="100%" style="stop-color:var(--color-background-light);" />
				</linearGradient>
			</defs>
			<rect width="100%" height="100%" fill="url(#grad1)" />
		</svg>

		<%- include('../partials/header.ejs') %>
		<%- include('../partials/errorMessage.ejs') %>
		<div class="container-fluid">
			<%- body %>
		</div>
		<div style="height: 50vh"></div>
	</body>
</html>