
<div class="container">
	<h1>Hi <%= name %></h1>
	<p>
		Suavistan is a new an growing country that will one day rule the world.
		<br>
		<br>
		<h2>Positions</h2>
		<p>President: Cumberbatch Fangirl</p>
		<p>Vice-President: Dragon Person</p>
		<p>Scribe: SJ</p>
		<p>Tech Support: Pez</p>
		<p>Cartographer: The map master</p>
		<p>Gestapu: Fredrick</p>
		<p>Something: Marie</p>
		<p>Everything Else: SJ</p>
	</p>
	
	<h2>Club History and Meeting Minutes</h2>
	<h3>August 16, 2020</h3>
	<p>Government was founded</p>
	
	<h3>August 17, 2020</h3>
	<p>
		Meeting #1 3:11<br>
		All subjects will be called suavish. All officials and employers will be called suavers. All employees will be called suavies. The president will be referred to as THE SUAVE. 
		Suavistan was decided to be the name of the country.
	</p>
	
	<h3>August 17, 2020</h3>
	<p>
		Meeting #2 8:16<br>
		National holiday instigate called “Suave Day.” It will take place on December 20. Everyone tries to look suave. 
	</p>
	
	<h3>July 13, 2021</h3>
	<p>
		Meeting #3<br>
		Christopher, Peter, and Natalie were initiated. National anthem was created
	</p>
	
	<h2>Laws and Regulations</h2>
	<h3>Article 0.0</h3>
	<p>
		Everyone is required to follow the following articles and any who disobey shall be punished by the given sentence.
	</p>
	
	<h3>Article 1.0></h3>
	<p>
		Any person who does not refer to the President as THE SUAVE will be executed.
	</p>
</div>