:root {
	--color-highlight: 150;
	--color-background-dark: hsl(var(--color-highlight), 0%, 5%);
	--color-background-light: hsl(var(--color-highlight), 15%, 25%);
	--color-text-important: hsl(var(--color-highlight), 40%, 80%);
	--color-text: rgba(255, 255, 255, 0.7);
	--color-text-secondary: rgba(255, 255, 255, 0.5);
	--color-border: rgba(255, 255, 255, 0.2);
	--color-background-transparent:rgba(0, 0, 0, 0.3);
	--color-background-transparent-highlight: rgba(255, 255, 255, 0.3);
	--transition-length: 1s;
}