
<%- include('../../partials/header.ejs') %>

<% playlists.forEach(playlist => { %>
	<div><%= playlist.name %></div>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="material-icons">more_horiz</span>
		</button>

		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
			<a class="dropdown-item" href="/musics/playlists/<%= playlist.id %>">View</a>
			<a class="dropdown-item" href="/musics/playlists/<%= playlist.id %>/edit">Edit</a>
		</ul>
	</div>
<% }) %>