
<table class="container-fluid">
	<thead>
		<th>Name</th>
		<th>Owner</th>
		<th></th>
	</thead>
	<tbody>
		<% playlists.forEach(playlist => { %>
			<%- include('../../partials/playlist.ejs', { playlist: playlist }) %>
		<% }) %>
	</tbody>
</table>
