<%- include('../../partials/header.ejs') %>
<h2>New Playlist</h2>
<form action="/musics/playlists" method = "POST">
	<%- include('_form_fields') %>
	<a href = "/musics/playlists">Cancel</a>
	<button type="submit">Create</button>
</form>