
<h2>New Playlist</h2>
<form action="/musics/playlists" method = "POST">
	<%- include('_form_fields') %>
	<a class="link" href = "/musics/playlists">Cancel</a>
	<button class="btn btn-transparent" type="submit">Create</button>
</form>